/**
Copyright Glen Knowles 2006.
Distributed under the Boost Software License, Version 1.0.

data.css - gw1builds
*/

div.dataPane div.scroll {
  height: 540px;
  overflow: scroll;
}
div.dataPane h3 {
  margin: 20px 5px 10px 10px;
  font-weight: bold;
}
div.dataPane div.section {
  background-color: var(--enhBG);
  padding: 0px 10px;
}
