/**
Copyright Glen Knowles 2006.
Distributed under the Boost Software License, Version 1.0.

dialogs.css - gw1builds
*/

/* Search */
div.searchDialog {
  width: 640px;
}
div.searchDialog select {
  font-size: 9pt;
  font-family: sans-serif;
}
div.searchDialog div.titlebar h2 {
  text-align: center;
}

/* Save as */
/* div.saveAsDialog ... { } */

/* Common */
div#dialog {
  background-repeat: repeat-x;
  background-color: var(--paneBG);
  color: var(--std);
  padding: 4px;
  position: absolute;
  border: 1px solid;
  border-top: 0px solid;
  border-color: var(--stdBorder);
  z-index: 100;
}
div#dialog div.content {
  padding: 0px;
}
div#dialog div.titlebar {
  padding: 0px;
  font-size: 10pt;
  font-weight: bold;
  cursor: move;
}
div#dialog div.titlebar div.button {
  float: right;
  clear: right;
  border: 1px solid;
  border-color: #7781A9 #000000 #000000 #7781A9;
  background-color: #4e5a7e;
  padding: 1px 6px 1px 6px;
  cursor: pointer;
}
div#dialog div.titlebar div.buttonOn {
  border-color: #000000 #7781A9 #7781A9 #000000;
  background-color: #353e57;
}
