
div.faqPane div.minwidth {
  min-width: 350px;
  max-width: 600px;
  /* width: 350px in adjust-ie.css */
  color: <%= skin[:enh] %>;
  background-color: <%= skin[:enhBG] %>;
  border-style: solid;
  border-width: 0px 2px 2px 2px;
  border-color: <%= skin[:enhBorder] %>;
}
div.faqPane div.scroll {
  height: 570px;
  overflow: scroll;
}
div.faqPane h3 {
  margin: 20px 5px 10px 10px;
  font-weight: bold;
}
div.faqPane div.section {
  background-color: <%= skin[:enhBG] %>;
  padding: 0px 10px;
}

