/**
Copyright Glen Knowles 2006 - 2024.
Distributed under the Boost Software License, Version 1.0.

faq.css - gw1builds
*/

div.faqPane div.minwidth {
  min-width: 350px;
  max-width: 600px;
  /* width: 350px in adjust-ie.css */
  color: var(--enh);
  background-color: var(--enhBG);
  border-style: solid;
  border-width: 0px 2px 2px 2px;
  border-color: var(--enhBorder);
}
div.faqPane div.scroll {
  height: 570px;
  overflow: scroll;
}
div.faqPane h3 {
  margin: 20px 5px 10px 10px;
  font-weight: bold;
}
div.faqPane div.section {
  background-color: var(--enhBG);
  padding: 0px 10px;
}

