/**
Copyright Glen Knowles 2006.
Distributed under the Boost Software License, Version 1.0.

global.css - gw1builds
*/

/*
header
topmenu
dragProxy
searchWindow
tooltip
tabmenu
misc
*/

a { color: blue; text-decoration: none; }
body {
  color: black;
  background-color: var(--pageBG);
}
form { display: inline; }
td {
  font-family: MS Sans Serif, sans-serif;
  font-size: 10pt;
	font-weight: normal;
	font-style: normal;
}
textarea {
	border: 1px solid;
	padding: 4px;
	color: var(--enh);
	background-color: var(--enhBG);
	border-color: var(--emptyBorder);
}
button {
/* Silly IE fix, by default it adds left and right margins to buttons
   that get larger as the text gets longer. Making for very long buttons
   with large wasted space
  */
  padding: 0 .25em;
  margin: 1px;
  overflow: visible;
}

#header.waiting div.ready {
  display: none;
}
#header div.waiting {
  display: none;
}
#header.waiting div.waiting {
  display: block;
  font-weight: bold;
  text-align: right;
  padding-right: 7px;
}
#header div.current {
  float: left;
}
#header div.user {
  padding-right: 7px;
  text-align: right;
  color: red;
  visibility: hidden;
}
.member #header div.user {
  visibility: visible;
}
#header div.user:before {
  content: "Welcome ";
  color: black;
}

table.pane {
  border-style: collapse;
  padding: 0px;
  width: 100%;
}
td.paneContent {
  padding: 0px;
  vertical-align: top;
  width: 100%;
}
td.paneSidebar {
/*
  vertical-align: top;
  float: right;
  width: 120px;
*/
}
div.sidebar {
/*
  width: 120px;
  height: 600px;
  background-color: beige;
*/
}


div#dropIndicator {
  position: absolute;
  z-index: 199;
  padding: 0px;
  margin: 0px;

  /* IE7 refused to draw a 0 height div without these */
  font-size: 0px;
  line-height: 0;
}

div#dragProxy {
  border: 1px solid;
  border-color: var(--enhBorder);
  background-color: var(--enhBG);
  color: var(--enh);
  font-weight: normal;
  padding: 1px 10px 1px 1px;
  position: absolute;
  left: 10px;
  top: 50px;
  opacity: 0.85;
  /* filter: alpha(opacity=85); */
  cursor: move;
  width: 185px; /* wide enough for Animate Shambling Horror */
  z-index: 200;
}

*.rejectDrop {
  border: 1px solid !important;
  border-color: red !important;
}
*.acceptDrop {
  border: 1px solid !important;
  border-color: lime !important;
}


/* Popup Styles */
div#tipPopup {
  border: 2px solid;
  border-color: var(--tipBorder);
  background-color: var(--tipBG);
  color: var(--tip);
  position: absolute;
  width: 300px;
  top: 0px;
  left: 0px;
  z-index: 300;
  padding: 3px 5px 3px 5px;
  /* opacity: 0.85;
     filter: alpha(opacity=85); */
}
div#menuPopup {
  border: 2px solid;
  padding: 3px 5px 3px 5px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 400;
  border-color: var(--tipBorder);
  background-color: var(--tipBG);
  color: var(--tip);
}

/* Common */
td.head {
  border: 1px solid;
  border-color: var(--headBorder);
  background-image: url("../images/headerBG.png");
  background-repeat: repeat-x;
  background-color: var(--headBG);
  color: var(--head);
  text-align: left;
  font-weight: bold;
  padding: 0px 4px 0px 4px;
}
h1 {
  display: inline;
  font: bold 21px serif;
  margin: 0px;
}

h2 {
  border-style: solid;
  border-width: 1px 0px 1px 1px;
  border-color: var(--headBorder);
  background-image: url("../images/headerBG.png");
  background-repeat: repeat-x;
  background-color: var(--headBG);
  color: var(--head);
  text-align: left;
  font-family: serif;
  font-size: 16px;
  font-weight: bold;
  padding: 0px 4px 0px 4px;
  margin: 0px;
  line-height: 26px;
}
h2 button {
  font-size: 9pt;
  line-height: normal;
}
h2 input {
  font-size: 9pt;
/* height: 18px; -- in adjust-ie.css */
/* margin: 3px; -- in adjust-ie.css */
}
h2 select { font-size: 9pt; }

h3 {
  font-weight: normal;
  margin: 5px 0px 10px 0px;
}

table.listBar {
  border: black 1px solid;
}
table.listBar tr {
  background-color: #F2FFF0;
}
table.listBar tr.listBar {
	background-color: #C4DBC0;
}
table.listBar tr th {
  background-color: white;
}

td.inset {
  border: 1px solid;
  padding: 0px;
  vertical-align: top;
}
table.fill {
  border-spacing: 0;
  border: 0px none;
  width: 100%;
}

/* Miscellaneous */
div.editPane,
div.viewPane {
  background-color: var(--emptyBG);
  border: 1px solid;
  border-color: var(--emptyBorder);
  padding: 0px;
}

img.openClose {
  float: left;
  width: 16px;
  height: 16px;
  padding: 0px 0.2em 0px 0px;
  border: 0px;
  cursor: pointer;
}
h2 img.openClose,
.head img.openClose {
  width: 20px;
  height: 20px;
  padding-right: 8px;
  margin-top: 3px;
}

a.smallButton {
  display: block;
  height: 16px;
  width: 16px;
  min-width: 16px;
  min-height: 16px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  cursor: pointer;
}
a.smallButton:hover { background-position: -16px 0px; }
a.smallButton:active { background-position: -32px 0px; }

a.sbClose { background-image: url(../images/close-button.png); }
a.sbDetail { background-image: url(../images/view-button.png); }
a.sbFill { background-image: url(../images/new-button.png); }
a.sbMaximize { background-image: url(../images/maximize-button.png); }
a.sbNew { background-image: url(../images/new-button.png); }
a.sbDownload { background-image: url(../images/download.png); }

div.alternateFactory {
  border: 2px solid black;
  color: white;
  background-color: darkcyan;
  text-align: center;
  vertical-align: middle;
  cursor: move;
}
div.emptyFactory {
  border: 2px solid black;
  color: black;
	background-color: silver;
  text-align: center;
  vertical-align: middle;
  cursor: move;
}
span.emptyAlt {
  color: var(--emptyAlt);
}

.memberBlock { display: none; }
.member .memberBlock { display: block; }
.memberInline { display: none; }
.member .memberInline { display: inline; }
.memberListItem { display: none; }
.member .memberListItem { display: list-item; }

.teamBlock { display: none; }
.team .teamBlock { display: block; }
.team .soloBlock { display: none; }

