/**
Copyright Glen Knowles 2006.
Distributed under the Boost Software License, Version 1.0.

group-pane.css - gw1builds
*/

div.groupPane {
}

div.groupPane div#groupList,
div.groupPane div#memberList {
  min-width: 350px;
  max-width: 450px;
  /* width: 350px in adjust-ie.css */
}

div.groupPane div.minwidth {
  border: 2px solid;
  border-color: var(--stdBorder);
  background-color: var(--stdBG);
  color: var(--std);
}

div.groupPane h2.title {
  background-image: url('../images/headerTopBG.png');
  line-height: 50px;
  font-size: 21px;
  text-align: center;
}
div.groupPane div.section {
  background-color: var(--stdBG);
  border-bottom: 2px solid;
  padding-left: 10px;
}

div.groupPane div.list {
  background-color: var(--enhBG);
  border-color: var(--enhBorder);
  border-bottom: 2px solid;
	padding-left: 10px;
}
div.groupPane div.list a:hover {
  text-decoration: underline;
}

div.groupPane tr.sortGroup td {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

