/**
Copyright Glen Knowles 2006.
Distributed under the Boost Software License, Version 1.0.

list-pane.css - gw1builds
*/

div.listPane div.partList td.part {
  cursor: pointer;
}

div.listPane div.partList {
	border: 0px none;
  width: 600px;
}
