/**
Copyright Glen Knowles 2006 - 2024.
Distributed under the Boost Software License, Version 1.0.

menu.css - gw1builds
*/

/*
topmenu
tabmenu
stateActions
insetTab
*/

span.withTabs {
	float: right;
	line-height: 26px;
}
span.withTabs button {
  font-size: 9pt;
  line-height: normal;
}
span.withTabs input {
  font-size: 9pt;
  margin: 0px;
}

#topmenu {
  text-align: left;
  margin: 0px 0px 5px;
  padding: 0px;
}
#topmenu li {
  display: inline;
}
#topmenu a {
  color: blue;
  padding: 0 4px;
  font-size: 92%;
  font-family: serif;
}
#topmenu a:hover {
  text-decoration: underline;
}
#topmenu a.active {
  color: black;
  font-weight: bold;
}
#topmenu a.active:hover {
}

/* Tab menus */
ul.tabmenu {
  display: block;
  list-style-type: none;
  position: absolute;
  margin: 0px;
  padding: 0px;
  vertical-align: bottom;
}
ul.tabmenu li {
  float: left;
}
ul.tabmenu li a {
  display: block;
  width: 110px;
  padding-top: 8px;
  height: 16px;
/* height: 24px;  -- in adjust-ie.css */
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  overflow: hidden;
  background: url("../images/menu-tab.png") 110px 0px;
  color: white; /* #e08020; #7F9F50; */
}
ul.tabmenu a.active {
  color: black;
  background-position: 0px 0px;
}
ul.tabmenu a.active:hover {
  color: black;
  cursor: default;
}
ul.tabmenu a:hover {
  color: gray;
  background-position: 0px 0px;
  cursor: pointer;
}


/* State actions */
form.stateActions button {
  height: 22px;
}


/* Inset tab menus */
div.insetTab {
  background-color: #607080;
}
div.insetTabPane {
  border-top: 4px solid var(--headBG);
  background-color: var(--paneBG);
}
ul.insetTab {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul.insetTab li {
  float: left;
}
ul.insetTab li a {
  display: block;
  border: 1px solid;
  border-color: #607080 black black #607080;
  padding: 0px 4px;
  color: var(--std);
  background-color: var(--stdBG);
  font-size: 9pt;
  text-align: center;
  text-decoration: none;
  line-height: 26px;
}
ul.insetTab a.active {
  color: var(--head);
  background-color: var(--headBG);
  border-bottom-color: var(--headBG);
}
ul.insetTab a.active:hover {
  color: var(--head);
  background-color: var(--headBG);
  cursor: default;
}
ul.insetTab a:hover {
	background-color: var(--enhBG);
	color: var(--enh);
  cursor: pointer;
}


div.iconMenu .menuIcon {
  border: 0px solid;
  padding: 1px 17px 0px 0px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
  line-height: 16px;
  width: 16px;
}
div.iconMenu a.menuIcon {
  border: 1px solid;
  border-color: var(--stdBorder);
  background-color: var(--stdBG);
  color: var(--std);
}
div.iconMenu a.menuIcon:hover {
  border-color: var(--stdHoverBorder);
  background-color: var(--stdHoverBG);
  color: var(--stdHover);
}
div#menuPopup {
  background-color: var(--stdBG);
  color: var(--std);
}
div#menuPopup table.detail tr {
  cursor: default;
}
div#menuPopup table.detail tr:hover {
  /* !!! Corresponding entry in cssHover must match */
  background-color: var(--stdHoverBG);
}

