div.normalView,
div.exportView,
div.codeView {
  background-color: <%= skin[:enhBG] %>;
}
div.normalView div.section,
div.exportView div.section,
div.codeView div.section {
  padding: 5px;
}
div.normalView div.control,
div.exportView div.control,
div.codeView div.control {
  border-color: <%= skin[:stdBorder] %>;
  background-color: <%= skin[:stdBG] %>;
  color: <%= skin[:std] %>;
}

div.normalView div.attr {
  margin-bottom: 10px;
}
div.normalView div.attr td {
  font-size: 9pt;
  font-family: sans-serif;
}
div.normalView span.partName {
	font-weight: bold;
}
div.normalView span.skill span.partName {
	font-weight: normal;
}

div.codeView td {
	padding: 3px 6px 3px 6px;
}
div.codeView td input {
	font-size: 7pt;
}

div.toonPane div.exportView div.control th.what,
div.toonPane div.exportView div.control td.what {
  display: none;
}

div.exportView div.control th {
	font-size: 10pt;
}

div.exportView div.control td {
	vertical-align: top;
}
div.exportView label.disabled {
	color: <%= skin[:disabled] %>;
}
div.exportView div.scroll {
  height: 435px;
  overflow: auto;
  border: 1px solid;
  padding: 5px;
}
div.exportView pre {
  margin: 0px;
}
