/**
Copyright Glen Knowles 2006.
Distributed under the Boost Software License, Version 1.0.

skillbar.css - gw1builds
*/

/* Skillbar */
div.skillbar {
  border: 1px solid;
  border-color: lightgray black black black;
  padding: 0px;
}
.sameSlotDropTB { border: 1px solid magenta; }
.otherSlotDropTB { border: 1px solid lime; }
.sameSlotDropLR { border: 1px solid magenta; }
.otherSlotDropLR { border: 1px solid lime; }

div.skillbar td {
  border: 1px solid;
  cursor: default;
  width: 100%;
  color: white;
}
div.skillbar td.empty {
  border-color: var(--emptyBorder);
  background-color: var(--emptyBG);
  color: var(--empty);
}
div.skillbar td.emptyAlt {
  border-color: var(--emptyAltBorder);
  background-color: var(--emptyAltBG);
  color: var(--emptyAlt);
  padding-left: 10px;
}
div.skillbar td.full {
  border-color: var(--enhBorder);
  background-color: var(--enhBG);
  overflow: hidden;
}
div.skillbar td.fullAlt {
  border-color: var(--altBorder);
  background-color: var(--altBG);
  overflow: hidden;
  padding-left: 10px;
}
div.skillbar tr.linked td.full {
  /* !!! Corresponding entry in hover-ie.js must match */
  background-color: var(--enhHoverBG);
}
div.skillbar tr.linked td.fullAlt {
  /* !!! Corresponding entry in hover-ie.js must match */
  background-color: var(--altHoverBG);
}


div.skillbar td div.drag {
  cursor: move;
}
div.skillbar span.attr {
  color: dimgray;
  float: left;
  min-width: 2em;
  text-align: center;
}
span.effectRange {
  border: 1px solid;
  border-color: var(--stdBorder);
  background-color: var(--stdBG);
  color: var(--std);
  padding: 0px 3px 0px 3px;
  margin: 0px 2px 0px 2px;
  text-align: center;
  white-space: pre;
  font-family: serif;
  font-size: 12pt;
}
