/**
Copyright Glen Knowles 2006.
Distributed under the Boost Software License, Version 1.0.

tone-pane.css - gw1builds
*/

div.toonPane div.toonDetail {
  width: 702px;
}
div.toonPane div#attrGrid span.withTabs {
  display: none;
}

div.toonPane div.partList {
  width: 300px;
}
div.toonPane div.partList div.toonPick {
  display: none;
}
div.toonPane div.partList div.scroll {
  height: 500px;
}
div.toonPane div.alternateFactory {
  width: 71px;
  height: 3em;
}
div.toonPane div.emptyFactory {
  width: 71px;
  height: 3em;
}
div.toonPane div.skillFavorites {
  width: 75px;
}
div.toonPane div.skillbar {
  width: 325px;
}
