/**
Copyright Glen Knowles 2006 - 2025.
Distributed under the Boost Software License, Version 1.0.

account-pane.css - gw1builds
*/

div.accountPane {
}

div#dialog div.accountPane div.titlebar {
  padding: 0px;
}
div#dialog div.accountPane div.titlebar h2 {
  /* width: 350px in adjust-ie.css */
}
div#dialog div.accountPane div.content {
  padding: 0px;
}
div#dialog div.accountPane div.minwidth {
  border-color: var(--stdBorder);
  background-color: var(--stdBG);
  color: var(--std);
}

div.accountPane div.minwidth {
  border: 2px solid;
  border-color: var(--enhBorder);
  background-color: var(--enhBG);
  color: var(--enh);
  min-width: 350px;
  max-width: 450px;
  /* width: 350px in adjust-ie.css */
}

div.accountPane div.errpane {
  background-color: mistyrose;
}

div.accountPane div.section {
  padding: 10px;
}

input.openid_login {
   background: url(../images/openid.gif) no-repeat;
   background-color: #fff;
   background-position: 0 50%;
   color: #000;
   padding-left: 18px;
}
