/**
Copyright Glen Knowles 2006 - 2024.
Distributed under the Boost Software License, Version 1.0.

attr-grid.css - gw1builds
*/

/* Attribute Grid */
div.attrGrid {
  border: 1px solid;
  padding: 0px;
  vertical-align: top;
}
div#attrGrid div.editDesc {
  width: auto;
}
div.attrGrid td.lvl {
  border: 1px solid;
	padding: 0px 2px 0px 2px;
  border-color: var(--enhBorder);
  background-color: var(--enhBG);
  color: var(--enh);
	text-align: center;
  width: 14px;
  font-size: 10pt;
  font-family: sans-serif;
  font-weight: bold;
  cursor: default;
}
div.attrGrid td.good {
  cursor: pointer;
}
div.attrGrid td.good:hover {
  border-color: var(--enhHoverBorder);
  color: var(--enhHover);
}
div.attrGrid td.current {
  border-color: var(--enhActiveBorder);
  background-color: var(--enhActiveBG);
  color: var(--enhActive);
}
div.attrGrid td.bad {
  border-color: var(--emptyBorder);
  background-color: var(--emptyBG);
  color: var(--empty);
}
div.attrGrid td.attr {
  border: 1px solid;
  padding: 0px 1px 0px 1px;
  border-color: var(--stdBorder);
  background-color: var(--stdBG);
  color: var(--std);
  font-weight: normal;
  font-size: 9pt;
  font-family: sans-serif;
  text-align: left;
  white-space: nowrap;
  cursor: default;
}
div.attrGrid td.primary {
  cursor: pointer;
}
div.attrGrid td.primary:hover {
	color: var(--stdHover);
	border-color: var(--stdHoverBorder);
  background-color: var(--stdHoverBG);
}
div.attrGrid td.attr img.checkmark {
  width: 20px;
  height: 15px;
  margin-right: 6px;
  background-color: transparent;
}
div.attrGrid td.attr span.attr {
  margin-right: 5px;
}
div.attrGrid td.headgear,
div.attrGrid td.rune {
  padding: 0px 2px 1px 1px;
  text-align: center;
}
div.attrGrid select {
  font-size: 9pt;
  font-family: sans-serif;
}
div.attrGrid span.attrTotal {
  float: right;
  clear: right;
  font-weight: normal;
  color: var(--head);
  padding-right: 4px;
}
div.attrGrid b input {
	font-weight: bold;
	font-family: sans-serif;
	background-color: transparent;
	border: 0px solid;
	color: var(--head);
	cursor: default;
}
div.attrGrid table.fill {
  height: 22px;
  padding: 0px;
  border: 0px;
}
