/**
Copyright Glen Knowles 2006 - 2025.
Distributed under the Boost Software License, Version 1.0.

item-grid.css - gw1builds
*/

/* Item Grid */
div.itemGrid {
  border: 0px solid;
  padding: 0px;
  vertical-align: top;
}
div.itemGrid td.dim {
  vertical-align: top;
}
div.itemGrid td.dim div.clip {
  overflow: hidden;
}
div.itemGrid td.dim div.scroll {
  height: 180px;
  overflow: auto;
  position: static;
}
div.itemGrid td.dim td {
  font-weight: normal;
  font-size: 9pt;
  font-family: sans-serif;
  overflow: hidden;
  white-space: nowrap;
}
div.itemGrid td.dim td.option {
  border-color: var(--enhBorder);
  background-color: var(--enhBG);
  color: var(--enh);
  cursor: pointer;
}
div.itemGrid td.dim td.none {
  border-color: var(--enhBorder);
  background-color: var(--enhBG);
  color: var(--weak);
  cursor: pointer;
}
div.itemGrid td.dim td.none:hover,
div.itemGrid td.dim td.option:hover {
  border-color: var(--enhHoverBorder);
  background-color: var(--enhHoverBG);
}
div.itemGrid td.dim td.active {
  border-color: var(--stdBorder);
  background-color: var(--stdBG);
  color: var(--std);
  cursor: default;
}
div.itemGrid td.dim td.current {
  border-color: var(--enhActiveBorder);
  background-color: var(--enhActiveBG);
  color: var(--enhActive);
  cursor: default;
}

div.itemGrid div.color {
	float: left;
	border: 1px solid black;
  height: 12px;
  width: 8px;
  margin-right: 4px;
}
