/**
Copyright Glen Knowles 2006 - 2024.
Distributed under the Boost Software License, Version 1.0.

skill-favorites.css - gw1builds
*/

/* Skill Favorites */
div.skillFavorites td {
  border: 1px solid;
  border-color: #000000 #677199 #677199 #000000;
  padding: 0px;
}
div.skillFavorites td.skill {
  cursor: move;
}
