/**
Copyright Glen Knowles 2006 - 2024.
Distributed under the Boost Software License, Version 1.0.

toon-info.css - gw1builds
*/

div.toonInfo th,
div.toonInfo td {
  color: var(--std);
  font-size: 10pt;
}

div.toonInfo div.toonPick {
  height: 23px;
  border: 0px;
  overflow: hidden;
}
div.toonInfo div.toonPick select {
  font-family: arial narrow;
  width: 179px; /* 177px in adjust-ie */
}
div.toonInfo div.toonPick input.pos {
  font-family: arial narrow;
  text-align: right;
  /* height: 22px; in adjust-ie */
  width: 30px;
  border: 0px;
  padding: 3px 0px;
  position: relative;
  top: -22px; /* -23px in adjust-ie */
  color: var(--std);
  background-color: var(--emptyBG);
}
div.toonInfo div.toonPick input.name {
  width: 130px;
  position: relative;
  top: -22px; /* -23px in adjust-ie */
}
